html {
    margin: 0px;
    width: 998px;
    height: 1440px;
}
body {
    margin: 0px;
    width: 998px;
    height: 1440px;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    text-align: center;
    width: 998px;
    height: 1440px;
}

.txtcontainer{
    overflow: hidden;
    margin: 0px;
    font-size: 19px;
}


.txtcontainer .p {
    margin: 12px 8px 0px 8px;
}


.impar{
    background-color: #ffffff;
}

.par{
    background-color: #ededed;
}

.left{
    text-align: right;
    width: 48%;
    position: relative;
    display: block;
    float: left;
    border-collapse: collapse;
    
}

.right{
    text-align: left;
    font-style: italic;
    width: 48%;
    margin-left: 493px;
    position: relative;    
}

.subtitles {
    font-family: chelsea-market;
    font-size: 21px;
    background-color: inherit;
    position: relative;
    top: -7px;
}

.second .subtitles {
    margin: -4px 35px -14px 0px;
    padding: 2px 0px 3px 0px;
}

.third .subtitles {
    margin: 5px 28px -10px 0px;
    padding: 1px 0px 2px 0px;
}

.fourth .subtitles {
    margin: 16px -4px -12px 0px;
    padding: 2px 0px 2px 0px;
}

.fifth .subtitles {
    margin: -3px 12px -10px 0px;
    padding: 2px 0px 2px 0px;
}

.sixth .subtitles {
    margin: -2px 24px -14px 0px;
    padding: 1px 0px 4px 0px;
}

.seventh .subtitles {
    margin: 5px 20px -14px 0px;
    padding: 2px 0px 5px 0px;
}

.eighth .subtitles {
    margin: 5px 22px -10px 0px;
    padding: 2px 0px 5px 0px;
}

.header{
    height: 228px;
}

#topheader {
    font-family: chelsea-market;
    font-size: 75px;
    margin: 0px;
    padding: 46px 21px 10px 0px;
}

.headsubtitle {
    margin: 0px;
    padding: 2px 24px 0px 0px;
    font-size: 14px;
}

.second{
    height: 179px;
    position: relative;
}

.third{
    height: 163px;
    position: relative;
}

.fourth{
    height: 216px;
    position: relative;
}

.fifth{
    height: 225px;
    position: relative;
}

.sixth{
    height: 157px;
    position: relative;
}

.seventh{
    height: 157px;
    position: relative;
}

.eighth{
    height: 115px;
    position: relative;
}

.bball{
    background-color: black;
    border-radius: 50%;
    border-collapse: collapse;
    height: 33px;
    width: 33px;
    position: relative;
    top: -18px;
    left: 50%;
    margin-left: -31px;
    margin-bottom: 0;
}

.lball{
    background-color: black;
    border-radius: 50%;
    border-collapse: collapse;
    height: 14px;
    width: 14px;
    position: relative;
    top: -8px;
    left: 50%;
    margin-left: -21px;
    margin-bottom: 12px;
}

.vline{
    background-color: black;
    height: 100%;
    width: 2px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15px;
}

.fifth .right {
    margin-left: 526px;
}


.blackpart {
    border-bottom: 26px solid transparent;
    border-left: 32px solid black;
    border-right: 26px solid transparent;
    border-top: 25px solid transparent;
    background-color: transparent;
    height: 174px;
    width: 0;
}


.whitepart {
    border-bottom: 22px solid transparent;
    border-left: 28px solid white;
    border-right: 0px solid transparent;
    border-top: 21px solid transparent;
    background-color: transparent;
    height: 173px;
    width: 0;
    margin-left: -13px;
    top: 4px;
}

.p.obs {
    font-size: 12px;
    text-indent: 10%;
    margin-top: 2px;
}

.p.obsi{
    color:transparent;
    font-size: 12px;
    text-indent: 10%;
    margin-top: 2px;
}

#tip {
    float: right;
    position: relative;
    right: -1%;
    bottom: 10%;
    width: 229px;
    height: 120px;
    background-color: #ffffff;
    border-style: ridge;
    text-align: left;
    
}

#tip p {
    margin: 4px 0px 0px 10px;
    
}

#tip h4 {
    margin: 8px 0px 4px 10px;
    font-family: chelsea-market;
}